# Android
*.iml
.gradle/
local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
build/
dist/
.eggs/
*.egg-info/

# VS Code
.vscode/

# IDE / Tools
.zencoder/
.zenflow/

# OS
Thumbs.db
Desktop.ini
.DS_Store
